<div class="container tabela">
  <h2 class="titulo"><i class="bi bi-chevron-double-right icone">
    </i>Departamento
    <button class="btn btn-lg btn-outline-primary btn-modal" (click)="openVerticallyCentered(content)">Add</button>
  </h2>

  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col titulo">Id</th>
        <th scope="col titulo">Nome</th>
        <th scope="col titulo">Sigla</th>
        <th scope="col titulo">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr #linha *ngFor="let i of departamentos" [attr.data-departamentoId]="i.departamentoId">
        <th scope="row">{{i.departamentoId}}</th>
        <td>{{i.nome}}</td>
        <td>{{i.sigla}}</td>
        <td class="acoes">
          <button type="button" class="btn btn-secondary">
            <i class="bi bi-pencil-fill" (click)="selecionar(linha, content)"></i>
          </button>
          <button type="button" class="btn btn-danger">
            <i class="bi bi-trash-fill" (click)="excluir(linha)"></i>
          </button>
          <button type="button" class="btn btn-primary">
            <i class="bi bi-chevron-right" (click)="redireciona(linha)"></i>
          </button>
          {{ i.text }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Departamento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form method="POST" #frm="ngForm" (ngSubmit)="salvar(frm)">
      <div class="form-group">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite o nome do departamento" name="nome"
            [(ngModel)]="departamento.nome" value="{{departamentos.nome}}" required />
        </div>
        <div class="mb-3">
          <label for="sigla" class="form-label">Sigla</label>
          <input type="text" class="form-control" id="sigla" placeholder="Digite o sigla do departamento" name="sigla"
            [(ngModel)]="departamento.sigla" value="{{departamentos.sigla}}" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Salvar</button>
    </form>
  </div>

</ng-template>
