<div class="container tabela">
  <h2 class="titulo"><i class="bi bi-chevron-double-right icone"></i>Departamento</h2>

  <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="modal(add)">Add</button> -->
  <hr />
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col titulo">Id</th>
        <th scope="col titulo">Nome</th>
        <th scope="col titulo">Sigla</th>
        <th scope="col titulo">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of departamentos">
        <th scope="row">{{i.departamentoId}}</th>
        <td>{{i.nome}}</td>
        <td>{{i.sigla}}</td>
        <td class="acoes"><i class="bi bi-pencil-fill"></i><i class="bi bi-trash-fill"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
