<div class="row" style="margin-bottom:15px;">
  <img [src]="criarPathImg(urlImagem)"  style="width: 300px; height: 250px;" alt="image" />
  <div class="col-md-3">
    <input type="file" #file accept="image/*" placeholder="Choose file" (change)="uploadImagem(file.files)" style="display:none;" required>
    <button type="button" class="btn btn-success" (click)="file.click()">Escolher Imagem</button>
  </div>
  <hr />
  <div class="col-md-4">
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
