
<div class="container tabela">
  <div class="topo">
    <h2 class="titulo">
      <i class="bi bi-chevron-double-right icone"></i>
      Funcionario
      <button class="btn btn-lg btn-outline-primary btn-modal" (click)="abrirModal(content)">Add</button>
    </h2>
  </div>
  <div class="tabelaTeste">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col titulo">Foto</th>
          <th scope="col titulo">Id</th>
          <th scope="col titulo">Nome</th>
          <th scope="col titulo">Rg</th>
          <th scope="col titulo">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr  #linha *ngFor="let i of funcionarios" [attr.data-funcionarioId]="i.funcionarioId">
          <td><img [src]="criarPathImg(i.foto)" alt="profile picture" style="width:120px; height:100px;"></td>
          <th scope="row">{{i.funcionarioId}}</th>
          <td>{{i.nome}}</td>
          <td>{{i.rg}}</td>
          <td class="acoes">
            <button type="button" class="btn btn-secondary">
              <i class="bi bi-pencil-fill" (click)="selecionar(linha, content)"></i>
            </button>
            <button type="button" class="btn btn-danger">
              <i class="bi bi-trash-fill" (click)="modalConfirmacaoExcluir(confirmacaoExcluir, linha)"></i>
            </button>
            {{ i.text }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Funcionário</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form method="POST" #frm="ngForm" (ngSubmit)="salvar(frm)">
      <div class="form-group">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite o nome do funcionario" name="Nome"
            [(ngModel)]="funcionario.nome" value="{{funcionario.Nome}}" required />
        </div>
        <div class="mb-3">
          <label for="rg" class="form-label">Rg</label>
          <input type="text" class="form-control" id="rg" placeholder="Digite o rg do funcionario" name="rg"
            [(ngModel)]="funcionario.rg" value="{{funcionario.Rg}}" mask="00.000.00-00" required>
        </div>
        <app-upload (onUploadFinished)="uploadConcluido($event)"></app-upload>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Salvar</button>
    </form>
  </div>

</ng-template>

<ng-template #confirmacaoExcluir let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Excluir</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deseja mesmo excluir esse funcionário?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
  </div>
</ng-template>
